<div class="container mb-5 mb-lg-0">
  <h1 class="text-muted fw-bold">PROFESSIONAL EXPERIENCE</h1>
  <hr>
  <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4">
    <div class="col">
      <div class="card h-100">
        <h5 class="card-header">iTrends</h5>
        <div class="card-body">
          <h6 class="card-title fw-bold">Web Developer Jr</h6>
          <small class="text-muted">August 2017 - August 2018</small>
          <p class="card-text mt-2">Custom web and mobile applications developer with PHP and Angular technologies.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <h5 class="card-header">Sacti Consultores</h5>
        <div class="card-body">
          <h6 class="card-title fw-bold">Java Web Developer</h6>
          <small class="text-muted">August 2018 - February 2020</small>
          <p class="card-text mt-2">Developer, support and layout web pages to e-commerce web application of Office Depot Mexico and RadioShack with Spring MVC and Hybris SAP.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <h5 class="card-header">IDS Comercial</h5>
        <div class="card-body">
          <h6 class="card-title fw-bold">Java Web Developer</h6>
          <small class="text-muted">February 2020 - July 2020</small>
          <p class="card-text mt-2">REST Services Java Developer for the online bank for BBVA Group with Spring MVC.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <h5 class="card-header">Dess-TI</h5>
        <div class="card-body">
          <h6 class="card-title fw-bold">Java Web Developer</h6>
          <small class="text-muted">September 2020 - May 2021</small>
          <p class="card-text mt-2">Developer and support for web applications for General de Seguros and GNP Seguros with microservices architecture with SpringBoot.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <h5 class="card-header">Agile Thought</h5>
        <div class="card-body">
          <h6 class="card-title fw-bold">Java Developer</h6>
          <small class="text-muted">May 2021 - Until now</small>
          <p class="card-text mt-2">Java microservices design and development with SpringBoot.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="position-absolute bottom-0 end-0" style="z-index: -1">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-briefcase-fill text-light" viewBox="0 0 16 16" style="width: 95%">
      <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>
      <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
    </svg>
  </div>
</div>
