<div class="container mb-5 mb-lg-0">
  <h3 class="h1 text-muted fw-bold">ABOUT MYSELF</h3>
  <hr>
<p class="col-lg-10 fs-4">Hi!</p>
  <p class="col-lg-10 fs-4">
    My name is Adrian Gonzalez, I am a Java and Angular Web Developer (Full-Stack), I have worked with microservices architecture using SpringBoot and Spring Cloud, I have more than 3 years of professional experience.
  </p>
  <p class="col-lg-10 fs-4">
    Throughout my professional career, I have been working with multiple technologies for applications develop in Backend and Frontend and inclusively SQL databases.
  </p>
  <p class="col-lg-10 fs-4">
    I am very passionate about learning and sharing knowledge about developer technologies.
  </p>
  <div class="position-absolute bottom-0 end-0" style="z-index: -1; text-align: right">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-badge-fill text-light" viewBox="0 0 16 16" style="width: 95%">
      <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm4.5 0a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5 2.755C12.146 12.825 10.623 12 8 12s-4.146.826-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
    </svg>
  </div>
</div>
