<img class="bd-placeholder-img rounded-circle text-center img-thumbnail shadow-sm" src="assets/images/profile.jpg" alt="">
<h2>Adrian Gonzalez</h2>
<span class="text-muted">Java & Angular Web Developer</span>
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light align-content-center justify-content-center" id="navContent">
  <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="23" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
    <span class="fs-4 ms-2">Content</span>
  </div>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto" style="text-align: left">
    <li class="nav-item">
      <a class="nav-link link-dark" routerLinkActive="active" aria-current="page" [routerLink]="['about-me']">
        <i class="bi bi-person-badge"></i>
        About Myself
      </a>
    </li>
    <li>
      <a class="nav-link link-dark" routerLinkActive="active" [routerLink]="['professional-experience']">
        <i class="bi bi-briefcase"></i>
        Professional Experience
      </a>
    </li>
    <li>
      <a class="nav-link link-dark" routerLinkActive="active" [routerLink]="['skills']">
        <i class="bi bi-award"></i>
        Skills & Abilities
      </a>
    </li>
    <li>
      <a class="nav-link link-dark" routerLinkActive="active" [routerLink]="['education']">
        <i class="bi bi-building"></i>
        Education
      </a>
    </li>
    <li>
      <a class="nav-link link-dark" routerLinkActive="active" [routerLink]="['courses-&-certifications']">
        <i class="bi bi-easel"></i>
        Certifications & Courses
      </a>
    </li>
  </ul>
</div>
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light align-content-center justify-content-center">
  <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="23" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
      <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
    </svg>
    <span class="fs-4 ms-2">Contact</span>
  </div>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto" style="text-align: left">
    <li>
      <a href="tel:5624220699" class="nav-link link-dark" target="_blank">
        <i class="bi bi-telephone"></i>
        <small class="ms-1">56-24-22-0699</small>
      </a>
    </li>
    <li>
      <a href="https://wa.me/+525624220699" class="nav-link link-dark" target="_blank">
        <i class="bi bi-whatsapp"></i>
        <small class="ms-1">56-24-22-0699</small>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/adriancgonzalez90" class="nav-link link-dark" target="_blank">
        <i class="bi bi-facebook"></i>
        <small class="ms-1">@adriancgonzalez90</small>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/adrian-glez/" class="nav-link link-dark" target="_blank">
        <i class="bi bi-linkedin"></i>
        <small class="ms-1">/adrian-glez-code</small>
      </a>
    </li>
    <li>
      <a href="https://github.com/adriangonzalez-code" class="nav-link link-dark" target="_blank">
        <i class="bi bi-github"></i>
        <small class="ms-1">adriangonzalez-code</small>
      </a>
    </li>
    <li>
      <a href="mailto:g.adrian.gonzalez.90@gmail.com" class="nav-link link-dark" target="_blank">
        <i class="bi bi-envelope"></i>
        <small class="ms-1">g.adrian.gonzalez.90@gmail.com</small>
      </a>
    </li>
  </ul>
</div>
