<div class="container">
  <h1 class="text-muted fw-bold">COURSES & CERTIFICATIONS</h1>
  <hr>
  <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Java SE Programming I</h5>
          <h6 class="card-subtitle mb-2 text-muted">June 2020</h6>
          <a href="#" class="card-link">View Certificate</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Scrum Fundamentals</h5>
          <h6 class="card-subtitle mb-2 text-muted">June 2020</h6>
          <button type="button" data-bs-toggle="modal" data-bs-target="#modal1" class="btn btn-secondary">View Certificate</button>
          <!--Modal-->
          <div class="modal fade" tabindex="-1" id="modal1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Scrum Fundamentals</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img style="width: 100%" src="assets/images/Certificado%20CCNA%20-%20Introduction%20to%20Cybersecurity.png" class="rounded img-fluid" alt="...">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="position-absolute bottom-0 end-0" style="z-index: -1; text-align: right">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-easel-fill text-light" viewBox="0 0 16 16" style="width: 95%">
      <path d="M8.473.337a.5.5 0 0 0-.946 0L6.954 2H2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h1.85l-1.323 3.837a.5.5 0 1 0 .946.326L4.908 11H7.5v2.5a.5.5 0 0 0 1 0V11h2.592l1.435 4.163a.5.5 0 0 0 .946-.326L12.15 11H14a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H9.046L8.473.337z"/>
    </svg>
  </div>
</div>
