<div class="container mb-5 mb-lg-0">
  <h3 class="h1 text-muted fw-bold">COURSES & CERTIFICATIONS</h3>
  <hr>
  <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4">
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-header">
          Oracle University
        </div>
        <div class="card-body">
          <h5 class="card-title">Java SE Programming I</h5>
          <h6 class="card-subtitle mb-2 text-muted">June 2020</h6>
          <button type="button" data-bs-toggle="modal" data-bs-target="#modal1" class="btn btn-secondary">View Certificate</button>
          <!--Start Modal-->
          <div class="modal fade" tabindex="-1" id="modal1">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Java SE Programming I Certificate</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img style="width: 100%" src="assets/images/Java%20SE%20Programming%20I.png" class="rounded img-fluid" alt="Java SE Programming I">
                </div>
              </div>
            </div>
          </div>
          <!--End Modal-->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-header">
          Scrum Study
        </div>
        <div class="card-body">
          <h5 class="card-title">Scrum Fundamentals</h5>
          <h6 class="card-subtitle mb-2 text-muted">June 2020</h6>
          <button type="button" data-bs-toggle="modal" data-bs-target="#modal2" class="btn btn-secondary">View Certificate</button>
          <!--Start Modal-->
          <div class="modal fade" tabindex="-1" id="modal2">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Scrum Fundamentals Certificate</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img style="width: 100%" src="assets/images/Certificado%20Scrum%20Fundamentals.png" class="rounded img-fluid" alt="Scrum Fundamentals">
                </div>
              </div>
            </div>
          </div>
          <!--End Modal-->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-header">
          Scrum Study
        </div>
        <div class="card-body">
          <h5 class="card-title">Scrum Developer Professional</h5>
          <h6 class="card-subtitle mb-2 text-muted">June 2020</h6>
          <button type="button" data-bs-toggle="modal" data-bs-target="#modal3" class="btn btn-secondary">View Certificate</button>
          <!--Start Modal-->
          <div class="modal fade" tabindex="-1" id="modal3">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Scrum Developer Professional Certificate</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img style="width: 100%" src="assets/images/Certificado%20Scrum%20Developer%20Professional.png" class="rounded img-fluid" alt="Scrum Developer Professional">
                </div>
              </div>
            </div>
          </div>
          <!--End Modal-->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-header">
          Udemy
        </div>
        <div class="card-body">
          <h5 class="card-title">Aprende Laravel</h5>
          <h6 class="card-subtitle mb-2 text-muted">May 2018</h6>
          <button type="button" data-bs-toggle="modal" data-bs-target="#modal4" class="btn btn-secondary">View Certificate</button>
          <!--Start Modal-->
          <div class="modal fade" tabindex="-1" id="modal4">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Aprende Laravel Certificate</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img style="width: 100%" src="assets/images/Certificado%20Udemy%20-%20Aprende%20Laravel%205%20y%20desarrolla%20ya%20app%20de%20pedidos%20en%20l°nea.png" class="rounded img-fluid" alt="Aprende Laravel">
                </div>
              </div>
            </div>
          </div>
          <!--End Modal-->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-header">
          Udemy
        </div>
        <div class="card-body">
          <h5 class="card-title">Desarrollo Web Completo</h5>
          <h6 class="card-subtitle mb-2 text-muted">March 2018</h6>
          <button type="button" data-bs-toggle="modal" data-bs-target="#modal5" class="btn btn-secondary">View Certificate</button>
          <!--Start Modal-->
          <div class="modal fade" tabindex="-1" id="modal5">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Desarrollo Web Completo Certificate</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img style="width: 100%" src="assets/images/Certificado%20Udemy%20-%20Desarrollo%20Web%20Completo%20con%20HTML5,%20CSS3,%20JS,%20Ajax,%20PHP%20y%20MySQL.png" class="rounded img-fluid" alt="Desarrollo Web Completo">
                </div>
              </div>
            </div>
          </div>
          <!--End Modal-->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-header">
          Udemy
        </div>
        <div class="card-body">
          <h5 class="card-title">PHP y MySQL</h5>
          <h6 class="card-subtitle mb-2 text-muted">December 2018</h6>
          <button type="button" data-bs-toggle="modal" data-bs-target="#modal6" class="btn btn-secondary">View Certificate</button>
          <!--Start Modal-->
          <div class="modal fade" tabindex="-1" id="modal6">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">PHP y MySQL Certificate</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img style="width: 100%" src="assets/images/Certificado%20Udemy%20-%20PHP%20y%20MySQL%20(El%20Curso%20Completo,%20Pr†ctico%20y%20Desde%200!).png" class="rounded img-fluid" alt="PHP y MySQL">
                </div>
              </div>
            </div>
          </div>
          <!--End Modal-->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-header">
          Udemy
        </div>
        <div class="card-body">
          <h5 class="card-title">JSP, Servlets and JDBC for Beginners</h5>
          <h6 class="card-subtitle mb-2 text-muted">November 2018</h6>
          <button type="button" data-bs-toggle="modal" data-bs-target="#modal7" class="btn btn-secondary">View Certificate</button>
          <!--Start Modal-->
          <div class="modal fade" tabindex="-1" id="modal7">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">JSP, Servlets and JDBC for Beginners Certificate</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img style="width: 100%" src="assets/images/Certificado%20Udemy%20-%20JSP,%20Servlets%20and%20JDBC%20for%20Beginners%20(Build%20a%20Database%20App).png" class="rounded img-fluid" alt="JSP, Servlets and JDBC for Beginners">
                </div>
              </div>
            </div>
          </div>
          <!--End Modal-->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-header">
          Udemy
        </div>
        <div class="card-body">
          <h5 class="card-title">Spring & Hibernate for Beginners</h5>
          <h6 class="card-subtitle mb-2 text-muted">May 2020</h6>
          <button type="button" data-bs-toggle="modal" data-bs-target="#modal8" class="btn btn-secondary">View Certificate</button>
          <!--Start Modal-->
          <div class="modal fade" tabindex="-1" id="modal8">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Spring & Hibernate for Beginners Certificate</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img style="width: 100%" src="assets/images/Certificado%20Udemy%20-%20Spring%20_%20Hibernate%20for%20Beginners%20(includes%20Spring%20Boot).png" class="rounded img-fluid" alt="Spring & Hibernate for Beginners">
                </div>
              </div>
            </div>
          </div>
          <!--End Modal-->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-header">
          Udemy
        </div>
        <div class="card-body">
          <h5 class="card-title">Desarrollo Web con Spring Boot 2</h5>
          <h6 class="card-subtitle mb-2 text-muted">June 2020</h6>
          <button type="button" data-bs-toggle="modal" data-bs-target="#modal9" class="btn btn-secondary">View Certificate</button>
          <!--Start Modal-->
          <div class="modal fade" tabindex="-1" id="modal9">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Desarrollo Web con Spring Boot 2 Certificate</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img style="width: 100%" src="assets/images/Certificado%20Udemy%20-%20Desarrollo%20Web%20con%20Spring%20Boot%202%20y%20Spring%20Framework%205.png" class="rounded img-fluid" alt="Desarrollo Web con Spring Boot 2">
                </div>
              </div>
            </div>
          </div>
          <!--End Modal-->
        </div>
      </div>
    </div>
  </div>
  <div class="position-absolute bottom-0 end-0" style="z-index: -1; text-align: right">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-easel-fill text-light" viewBox="0 0 16 16" style="width: 95%">
      <path d="M8.473.337a.5.5 0 0 0-.946 0L6.954 2H2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h1.85l-1.323 3.837a.5.5 0 1 0 .946.326L4.908 11H7.5v2.5a.5.5 0 0 0 1 0V11h2.592l1.435 4.163a.5.5 0 0 0 .946-.326L12.15 11H14a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H9.046L8.473.337z"/>
    </svg>
  </div>
</div>
