<footer class="bd-footer mt-5 bg-dark">
  <div class="container pt-5 pb-3">
    <div class="row">
      <div class="col-6 mb-3">
        <div class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none">
          <img loading="lazy" src="assets/images/curriculum-vitae.png" alt="curriculum vitae" class="img-fluid me-3" style="width:40px">
          <span class="fs-6 text-light">Professional Portfolio</span>
        </div>
      </div>
      <div class="col-6">
        <ul class="list-unstyled small text-white-50 text-sm-end">
          <li class="mb-2">Designed and built with <img loading="lazy" src="favicon.ico" alt="angular" style="width: 15px"> and <i class="bi bi-bootstrap-fill"></i> by <strong>Adrian Gonzalez</strong>.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
